body {
  font-family: sans-serif;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 1%;
}

.searchText {
  width: 30%;
  height: 40px;
  border: 1px solid #9e9e9e80;
  text-align: center;
}

header {
    background: #9e9e9e24;
    padding: 1% 2% 1% 2%;   
}
